@use "../abstract/variaveis";
@use "../abstract/mixins";

header {
	background: variaveis.$gradiente-primario;
	padding: 2rem;
	
	nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.6rem;

		.linha {
			border-top: 1px solid black;
			width: 80%;
		}

		ul {
			display: inline-flex;
			gap: 2rem;

			li {
				list-style: none;
			}

			a {
				text-decoration: none;
				@include mixins.ff-fs-cl(variaveis.$ft-textos, 1rem, variaveis.$cor-primaria);
				font-weight: 500;
			}
		}
	}

	#home {
		max-width: 1040px;
		@include mixins.margem-central();
		display: flex;
		align-items: center;
		justify-content: space-between;

		.textos-home {
			max-width: 464px;

			h1 {
				margin-bottom: 2rem;
				@include mixins.ff-fs-cl(variaveis.$ft-titulos, 42px, variaveis.$cor-primaria);

				span {
					color: variaveis.$cor-secundaria;
				}
			}

			.btn-main {
				background-color: variaveis.$cor-secundaria;
				border-radius: 40px;
				max-width: 280px;
				border: none;
				outline: none;
				padding: 24px 59.5px;
				@include mixins.ff-fs-cl(variaveis.$ft-textos, 22px, #FFFFFF);
				font-weight: 600;
				line-height: 18px;
			}
		}

		.img-home {
			max-width: 474px;

			img {
				width: 100%;
			}
		}
	}
}